//colors

$color-white: white;
$color-purple: #8f5efd;

//Font

$ff-1: 'Mulish', sans-serif;
$fs-title: 25px;
$fs-input-cat: 16px;
$fs-footer: 14px;
$fs-car-details: 10px;

body {
  margin: 0;
  background-color: $color-purple;
  overflow-x: hidden;
  font-family: $ff-1;
}

@mixin flex {
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: 80px;
  @include flex;
  justify-content: space-between;
}

.header__logo {
  width: 200px;
  margin-left: 30px;
  margin-top: calc((80px - 60.83px) / 2);
}

.header__menu {
  margin-right: 30px;

  ul {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0 0 0 -14px;

    li {
      margin: 10px 0;

      a {
        color: $color-white;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu--profile {
  margin-right: 8px;
  @include flex;
  cursor: pointer;

  img {
    margin-right: 8px;
    width: 40px;
  }

  p {
    margin: 0;
    color: $color-white;
  }
}

.main {
  height: 300px;
  @include flex;
  flex-direction: column;
  justify-content: center;
}

.main__title {
  color: $color-white;
  font-size: $fs-title;
}

.categories__title {
  color: $color-white;
  font-size: $fs-input-cat;
  position: absolute;
  padding-left: 30px;
  width: 100%;
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid $color-white;
  border-radius: 25px;
  color: $color-white;
  font-family: $ff-1;
  font-size: $fs-input-cat;
  height: 50px;
  padding: 0 20px;
  width: 70%;

  background-image: url('../img/search-icon.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 98% center;
}

.input::placeholder {
  color: $color-white;
}

.input:focus-visible {
  outline: none;
  border: 2px dashed $color-white;
  border-radius: 50px;
}

.carousel {
  width: 100%;
  overflow-x: scroll;
  padding: 30px;
  position: relative;
  margin-bottom: 20px;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
}

.carousel-item {
  background-color: palevioletred;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover {
  .carousel-item {
    opacity: 0.3;
  }

  .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
  }
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carousel-item__details {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: $fs-car-details;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;

  div {
    img {
      width: 25px;
      height: 25px;
    }
  }
}

.carousel-item__details:hover {
  opacity: 1;
}

.carousel-item__details--title,
.carousel-item__details--subtitle {
  color: $color-white;
  margin: 0;
}

/* Scrollbar */

.carousel::-webkit-scrollbar {
  /* width: 6px; */
  height: 10px;
}

.carousel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  box-shadow: inset 0 0 6px transparent;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.carousel:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.carousel:hover::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border: 1px solid slategrey;
  border-radius: 25px;
}

.footer {
  @include flex;
  height: 100px;
  width: 100%;
  background-color: $color-purple;

  a {
    color: $color-white;
    cursor: pointer;
    font-size: $fs-footer;
    padding-left: 30px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
