<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="signup.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <img
        class="header__logo"
        src="../../img/logo-platzi-video.png"
        alt="logo Platzi Video"
      />
    </header>
    <section class="signup">
      <div class="signup__container">
        <h2 class="signup__title">Regístrate</h2>
        <form action="" class="signup__form">
          <input
            title="Introduce tu nombre"
            type="text"
            class="signup__input"
            placeholder="Nombre"
          />
          <input
            title="Introduce tu correo electrónico"
            type="email"
            class="signup__input"
            placeholder="Correo"
          />
          <input
            title="Introduce tu contraseña"
            type="password"
            class="signup__input"
            placeholder="Contraseña"
          />
          <button class="button">Registrarme</button>
        </form>
        <div class="signup__login-link"><a href="/">Iniciar sesión</a></div>
      </div>
    </section>
    <footer class="footer">
      <a href="/">Términos de uso</a>
      <a href="/">Declaración de privacidad</a>
      <a href="/">Centro de ayuda</a>
    </footer>
  </body>
</html>
